/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 *
 * Styles for the child blocks 'dashboard-item2x2' & 'dashboard-item3x3' are also included in this CSS
 * This prevents having to write the same rules multiple times for nearly identical blocks
 *
 */

.wp-block-wpress-blocks-dashboard-item2x2  {
   padding: .85em; 
}
.wp-block-wpress-blocks-dashboard-item3x2 {
    padding: .85em;
}

.child-block {
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-width: 3px;
    height: 100%;  
    padding: .25em 1em;
    background-color: #EEEEEE;
    color: #41215E;   
}

.dash-item-title  {
    text-align: center;
    color: #59849b;
}

.dash-item-subtitle {
    text-align: center;
    color: #59849b;
}

.dash-item-paragraph {
    padding-top: 1em;
}

.dash-item-polaroid {
    text-align: center;

    img {
        max-width: 95%;
        max-height: 95%;
        height: auto;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
    }
}
.wp-block-image.is-resized.dash-item-polaroid {
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}
.child-block {
    .wp-block-image {
        margin-bottom: .4em;
    }
}